---
import { IInterventionFrontmatter } from "@interfaces/IIntervention";
import {
  InterventionPreviewCard,
  ButtonLink,
  InterventionsMapDataWrapper,
} from "@components";
import {trimAndSortInterventions, transformInterventionsToPoiData} from "@util/ContentTransformer"

const { frontmatter } = Astro.props;

const rawInterventionsContent = await Astro.glob<IInterventionFrontmatter>(
  "../pages/en/interventions/*.mdx"
);

const interventionCount = 3;
const trimmedAndSorted = trimAndSortInterventions(rawInterventionsContent, interventionCount);

---

<div class="relative flex flex-col h-full">
  <div
    class="container-width mt-[51px] md:mt-[113px] mb-6 md:mb-12 flex flex-col gap-6"
  >
    <div
      class="text-neutral-900 text-lg leading-6 lg:text-2xl lg:leading-7 font-aktiv font-semibold"
    >
      Latest Interventions
    </div>
    <div class="text-base md:hidden">
      When we go to place to <b
        >support a project, build a maker space or perform a workshop, we call
        that an intervention.</b
      > Every intervention has its unique partners, goals and outcomes, but every
      intervention
      <b>helps to strengthen the ecosystem of the Ukraine.</b>
    </div>
  </div>
  <div
    class="container-width-hero my-map-control basis-[400px] shrink-0 h-[448px] mb-10"
  >
    <InterventionsMapDataWrapper count={interventionCount} />
  </div>
  <div
    class="container-width flex flex-col lg:flex-row lg:justify-between gap-8"
  >
    {
      trimmedAndSorted.map((intervention) => (
        <InterventionPreviewCard
          href={intervention.url}
          image={intervention.frontmatter.images[0]}
          date={intervention.frontmatter.date}
          title={intervention.frontmatter.title}
          location={intervention.frontmatter.location}
          tags={intervention.frontmatter.tags}
        />
      ))
    }
  </div>
  <div
    class="pt-5 pb-[66px] lg:pb-16 lg:pt-2 text-white items-center w-full h-full flex justify-center z-20"
  >
    <ButtonLink
      target="en/interventions"
      caption="See all interventions"
      variant="dark"
    />
  </div>
</div>
