---
import BaseLayout from "./BaseLayout.astro";
import type { Props as BaseLayoutFrontmatter } from "./BaseLayout.astro";
import {
  AcademyHeroImage,
  BackButton,
  ContentSection,
  TableOfContents,
} from "@components";
import type { AcademyPageFrontmatter } from "@interfaces/IAcademy";
import type { MarkdownLayoutProps } from "astro";
import { getParentPage } from "@util/ContentTransformer";
import fs from "node:fs";
import Giscus from "@components/Giscus.astro";
import CommonUtils from "@util/CommonUtils";
import LanguageUtils from "@util/LanguageUtils";
import FooterCards from "@components/FooterCards.astro";

const rawAcademyContent = await Astro.glob<AcademyPageFrontmatter>(
  "../pages/en/academy/*/*.mdx"
);

type Props = MarkdownLayoutProps<
  BaseLayoutFrontmatter & AcademyPageFrontmatter
>;

const {
  frontmatter: {
    title,
    teaser,
    order,
    imgAlt,
    img,
    disableComments,
    ...baseFrontmatter
  },
  url,
  file,
  headings,
} = Astro.props;

const baseUrl = CommonUtils.getBaseUrl(true);
const localeFromUrl = LanguageUtils.getLocaleFromUrl(Astro.url, baseUrl);

const statsMtime = fs.statSync(file).mtime;
const editDate = new Date(statsMtime);

const parentPage = getParentPage(rawAcademyContent, url!);
---

<BaseLayout {...baseFrontmatter} title={title}>
  <div class="mt-20 container-width">
    <BackButton target={`${baseUrl}${localeFromUrl}/academy`}>
      {
        localeFromUrl === "ua"
          ? "Повернутися до огляду Maker Academy"
          : "Back to Academy Overview"
      }
    </BackButton>
  </div>
  <div class="container-width-hero">
    <AcademyHeroImage
      title={title}
      teaser={teaser}
      category={parentPage?.frontmatter?.title}
      img={img || parentPage?.frontmatter?.img!}
    />
  </div>
  <div
    class="container-width mt-8 mb-24 flex flex-col md:grid grid-cols-12 gap-8"
  >
    <div class="col-span-4">
      <TableOfContents
        title={title}
        headlines={headings}
        baseUrl={Astro.url.href}
        client:only="react"
      />
      <div class="mt-16">
        <span class="font-bold uppercase text-neutral-400 text-[15px]"
          >Last updated</span
        ><br />
        <span class="font-medium text-lg text-neutral-900"
          >{
            editDate.toLocaleDateString("en", {
              timeZone: "Europe/Berlin",
              day: "numeric",
              month: "long",
              year: "numeric",
            })
          }
        </span>
      </div>
    </div>
    <div class="col-span-7 default-prose overflow-x-hidden">
      <slot />
    </div>
  </div>
  {!disableComments && <Giscus />}

  <ContentSection variant="white">
    <div
      class:list={`absolute w-full h-64 top-0 ${
        disableComments ? "bg-white" : "bg-neutral-50"
      }`}
    >
    </div>
    <FooterCards language={localeFromUrl} />
  </ContentSection>
</BaseLayout>
