---
import type { MarkdownLayoutProps } from "astro";
import { Navigation, Footer } from "@components";
import TolocarFavicon from "../assets/favicon.png";
import "../../base.css";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

const { frontmatter, footerGrey = false } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={TolocarFavicon} />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="The Tolocar project sends mobile makerspaces into Ukraine to help, empower, equip and train local communities through open technology, knowledge and innovation."
    />
    <meta name="keywords" content="tolocar, makerspaces, ukraine" />
    <script
      async
      defer
      data-website-id="7642c494-7e60-4564-952b-5d0d33e7c16b"
      src="https://analytics.fabcity.hamburg/umami.js"
    ></script>
    {baseUrl && <base href={baseUrl} />}
    <title>{frontmatter?.title}</title>
  </head>
  <body class="w-full font-aktiv antialiased h-full">
    <main class="flex flex-col items-center h-full">
      <Navigation logoTarget={baseUrl} client:load/>
      <slot />
      <Footer className={footerGrey ? "!bg-neutral-50" : ""} />
    </main>
  </body>
</html>
