---
import BaseLayout from "./BaseLayout.astro";
import { IInterventionFrontmatter } from "@interfaces/IIntervention";
import {
  ContentSection,
  InterventionImageCarousel,
  InterventionPreviewCard,
  InterventionSingleViewHeading,
} from "@components";

const { frontmatter, url, file, headings } = Astro.props;

const rawInterventionsContent = await Astro.glob<IInterventionFrontmatter>(
  "../pages/en/interventions/*.mdx"
);

const relatedInterventions = rawInterventionsContent.filter(
  (interventionFromFilesystem) =>
    frontmatter.related?.some((slug) =>
      interventionFromFilesystem.url?.includes(slug)
    )
);
---

<BaseLayout frontmatter={frontmatter}>
  <div class="container-width">
    <InterventionSingleViewHeading
      title={frontmatter.title}
      subtitle={frontmatter.subtitle}
      tags={frontmatter.tags}
      date={frontmatter.date}
      car={frontmatter.car}
      location={frontmatter.location}
    />
    <InterventionImageCarousel
      images={frontmatter.images}
      client:only="react"
    />
  </div>
  <ContentSection variant="white">
    <div class="container-width my-10 lg:mt-14 lg:mb-[60px] default-prose">
      <slot />
    </div>
  </ContentSection>
  <h1
    class="container-width text-lg leading-6 lg:text-2xl lg:leading-7 font-aktiv font-semibold mt-10 md:mt-[60px] mb-6 md:mb-10"
  >
    Other interventions of interest
  </h1>
  <div class="relative w-full">
    <div
      class="container-width flex flex-col lg:flex-row lg:justify-between gap-8"
    >
      {
        relatedInterventions.map((intervention) => (
          <InterventionPreviewCard
            href={intervention.url}
            image={intervention.frontmatter.images[0]}
            date={intervention.frontmatter.date}
            title={intervention.frontmatter.title}
            location={intervention.frontmatter.location}
            tags={intervention.frontmatter.tags}
          />
        ))
      }
    </div>
    <div class="absolute z-0 w-full bg-neutral-50 h-[90%] bottom-0"></div>
  </div>
</BaseLayout>
