---
import BaseLayout from "./BaseLayout.astro";
import { ITolocarsFrontmatter } from "@interfaces/ITolocars";
import {
  TolocarsHeader,
  CarCard,
  ContentSection,
  Card,
  CardContainer,
} from "@components";
import { trimAndSortTolocars } from "@util/ContentTransformer";

const { frontmatter, url, file, headings } = Astro.props;

const rawTolocarsContent = await Astro.glob<ITolocarsFrontmatter>(
  "../pages/en/tolocars/*.mdx"
);

const trimmedAndSorted = trimAndSortTolocars(rawTolocarsContent);
---

<BaseLayout footerGrey={true} frontmatter={frontmatter}>
  <TolocarsHeader
    className="-z-10"
    title="Our Fleet"
    text="Overview of our past, current and planned Tolocars"
  />
  <div class="container-width mb-8 -mt-[74px] md:-mt-16 lg:-mt-36 lg:mb-24">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        trimmedAndSorted.map((tolocar) => (
          <CarCard
            {
            /* href={tolocar.url} */ }
            title={tolocar.frontmatter?.title}
            car={tolocar.frontmatter?.car}
            date={tolocar.frontmatter?.date}
            tags={tolocar.frontmatter?.tags?.slice(0, 2)}
            img={tolocar.frontmatter?.img}
            operators={tolocar.frontmatter?.operators?.slice(0, 2)}
          />
        ))
      }
    </div>
  </div>
  <ContentSection>
    <div class="absolute w-full bg-white h-64 top-0"></div>
    <CardContainer className="lg:h-[408px]">
      <Card
        title="You are based in Ukraine and think we could help you?"
        bg={4}
        target="mailto:info@tolocar.org"
        actionCaption="Get in contact"
        >Schools, universities, NGOs, Startups and other organizations can reach
        out to us to request the Tolocars for projects, workshops and trainings.</Card
      >
      <Card
        title="You are a Maker and want to partner with us?"
        bg={5}
        target="mailto:info@tolocar.org"
        actionCaption="Get in contact"
        >We are looking for Makers, FabLabs, Hackerspaces, Makerspaces and other
        Communities who wants to partner with us in the Ukraine and
        internationally over the internet.</Card
      >
    </CardContainer>
  </ContentSection>
</BaseLayout>
